.DS_Store
*.sqlite3
__pycache__/
venv/
.idea/
migrations/
local.py
logs/
db/
media/
config.py
*.pyc
.mypy_cache/
TAGS
.workon
auto-save-list/
/.emacs.desktop
/auto-save-list
/.session
*.elc
CVS
.svn
*~
.cvsignore
